
        
        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Manage Stages</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li>Manage Stages</li>
                </ul>
            </nav>
        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-lg-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-assignment"></i> My Stages</h3>
                    </div>

                    <ul class="dashboard-box-list">
                        <li *ngFor="let stage of stages" (click)="detail(stage)">
                          <div class="job-listing width-adjustment">
                            <div class="job-listing-details">
                              <div class="job-listing-description">
                                <h3 class="job-listing-title"><a href="#">{{ stage.titre }}</a></h3>
                                <div class="job-listing-footer">
                                  <ul>
                                    <li><i class="icon-material-outline-access-time"></i> 23 hours left</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ul class="dashboard-task-info">
                            <li><strong>3</strong><span>Bids</span></li>
                            <li><strong>$22</strong><span>Avg. Bid</span></li>
                            <li><strong>$15 - $30</strong><span>Hourly Rate</span></li>
                          </ul>
                          <div class="buttons-to-right always-visible">
                            <a (click)="deleteStage(stage.id)" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                          </div>
                        </li>
                      </ul>
                      
                </div>
            </div>

        </div>
        <!-- Row / End -->

        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2024 <strong>SEBN</strong>. All Rights Reserved.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->
