<div class="dashboard-container">
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
            <div class="dashboard-headline">
                <h3>Post a Stage</h3>
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>Post a Stage</li>
                    </ul>
                </nav>
            </div>
    
            <div class="row">
                <form [formGroup]="eventForm" (ngSubmit)="addPost()" enctype="multipart/form-data">
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">
                            <div class="headline">
                                <h3><i class="icon-feather-folder-plus"></i> Stage Submission Form</h3>
                            </div>
                            <div class="content with-padding padding-bottom-10">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Document</h5>
                                            <input class="form-control" (change)="selectFile($event)" type="file" #f />
                                            <input type="hidden" formControlName="document" #img>
                                            <button type="button" (click)="upload(f, img)">Upload</button>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Title</h5>
                                            <input type="text" class="with-border" formControlName="titre" placeholder="e.g. build me a website">
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Start Date</h5>
                                            <input type="date" formControlName="date_debut">
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>End Date</h5>
                                            <input type="date" formControlName="date_fin">
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Company</h5>
                                            <input type="text" class="with-border" formControlName="company" placeholder="e.g. Tech Solutions">
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="submit-field">
                                            <h5>Skills Required</h5>
                                            <input type="text" class="with-border" formControlName="skills" placeholder="Add Skills">
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Describe Your Project</h5>
                                            <textarea cols="30" rows="5" class="with-border" formControlName="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <button type="submit" class="button ripple-effect big margin-top-30">
                            <i class="icon-feather-plus"></i> Post a Stage
                        </button>
                    </div>
                </form>
            </div>
            <div class="dashboard-footer-spacer"></div>
        </div>
    </div>
</div>
